<div class="footer" id="footer">
  <br>
  <table>
    <tr>
      <td><a href="#/">Some</a></td>
      <td><a href="#/">About us</a></td>
    </tr>
    <tr>
      <td><a href="#/">Bonus program</a></td>
      <td><a href="#/">News</a></td>
    </tr>
  </table>
  <table>
    <tr>
      <td>
        <a href="#" class="fa fa-facebook"></a>
      </td>
      <td>
        <a href="#" class="fa fa-youtube"></a>
      </td>
      <td>
        <a href="#" class="fa fa-instagram"></a>
      </td>
    </tr>
  </table>
</div>
